*{
    margin: 0px; padding: 0px; box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow: hidden;
    color:rosybrown;
    font-family: 'Flamenco', cursive;
}
header{
    background-image: url(../jjjj.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;

}
.row{
    max-width: 1180px;
    margin:0 auto;

}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.main-nav{
    float: right;
    margin-top: 60px;

}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;

}
.main-nav li a{
    color:blueviolet;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100px;
    
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}
.main-nav li a:hover{
    border-bottom: 2px  solid green;

}
h1{
    color:wheat;
    font-weight: bold;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition:background-color 0.2s,border 0.2s,color 0.2;
}
.btn-full{
    background-color: transparent;
    color: red;
    margin-right:15px;
    border: 1px solid red;
}
.btn-full:hover{
    background-color: indigo;
}
.btn-nav{
    background-color: transparent;
    color: white;
    border: 1px solid yellow;

}
.btn-nav:hover{
    background-color:red;
}
.colorchange{
    animation:colorchangemanish 1s infinite ;
}
@keyframes colorchangemanish{
    0%{color: red;}
    25%{color: lawngreen;}
    50%{color: lightcoral;}
    75%{color: lightgreen;}
    100%{color: maroon;}

}
.mobile-icon{
    display: none;
}

/*responsive query*/

 @media only screen and (max-width:1180px){
    .main-content-header{
        width: 100%;
        padding: 0 2%;

    }
}
 @media only screen and (max-width:998px)
 { 
    h1{font-size: 200%;}
}
 @media only screen and (max-width:768px){
    h1{font-size: 180%;}

    .main-nav{display: none;}

    .mobile-icon{ display: inline-block;
        color: white;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .main-nav{
        float: left;
    }

    .main-nav li{
        
        display: block;
        margin-top: 10px;
    }


}
@media only screen and(max-width:480px;){
    .btn-full{
        margin-bottom: 20px;

    }
    h1{font-size: 160%;}
}
     

